:root {
    /* ### Primary */

    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /* ### Accent */

    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /* ### Neutral */

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
    --Light-Grayish-Background: hsl(240, 17%, 98%);
}


/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* raleway-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* raleway-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/raleway-v34-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
    
.rail-way-large {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.rail-way-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.opensans {
    font-family: 'Open Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.container {
    /* width: 375px; */
    margin: 0 auto;
    position: relative;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: sticky;
    top: 0;
    padding: 1rem 1.5rem;
    background-color: #fff;
}

.logo img {
    width: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
nav li {
    list-style: none;
}

.first-col {
    margin-top: 100px;
    margin-bottom: 100px;
}

.padding-col {
    padding: 1.5rem;
}

.files-img img,
.people-img img {
    width: 100%;
}
.files-img,
.people-img {
    max-width: 455px;
    margin: 0 auto;
}

.all-files {
    text-align: center;
    margin: 0 auto;
    max-width: 455px;
}

.large-txt {
    font-family: 'Raleway';
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.small-txt {
    line-height: 1.5;
}

.all-files,
.files-img {
    margin-bottom: 50px;
}

.input-div {
    margin-top: 50px;
}
.input-div input,
.input-div button{
    width: 350px;
    padding: .5rem 2rem;
}

.input-div button {
    border: none;
    margin-top: 20px;
    color: #fff;
    font: inherit;
    background-color: var(--Bright-Blue);
    border-radius: 3px;
}


.second-col {
    padding-top: 4.1rem;
    background: url(images/bg-curve-mobile.svg) no-repeat top/100% 100px;
}
.second-div {
    background-color: var(--Light-Grayish-Background);
    padding-top: 50px;
    padding-bottom: 100px;
}

.stay-productive {
    margin-top: 100px;
    max-width: 455px;
    margin: 0 auto;
}
.stay-productive .large-txt {
    text-align: center;
    font-size: 25px;
}

.link {
    display: flex;
    align-items: center;
    border-bottom: solid var(--Moderate-Cyan);
    width: fit-content;
    margin: 20px auto 30px;
}
.link p{
    color: var(--Moderate-Cyan);
}
.link img {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}
.see {
    padding: 5px 0;
}


.box-comment {
    border: gray 1px solid;
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
}

.middle-comment {
    margin: .7rem 0;
}

.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 30px;
    height: 30px;
    object-position: center;
    object-fit: contain;
    border-radius: 500px;
    margin-right: 10px;
}
.profile-details p {
    font-weight: 700;
}

.get-access {
    text-align: center;
    background-color: var(--Desaturated-Blue);
    padding: 3rem 2rem;
    color: #fff;
}
.get-text {
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 419px;
}
.get-text .medium-txt {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.second-form {
    width: 230px;
    padding: .5rem;
    margin-bottom: 10px;
    border-radius: 3px;
}
.get-input button {
    color: #fff;
    background-color: var(--Bright-Blue);
    border: none;
}



.break-line {
    line-height: 2rem;
    margin: 1rem 0;
    width: 300px;
}

footer {
    padding: 3rem 2rem;
    color: #fff;
    background-color: var(--Very-Dark-Blue);
}
.footer-logo img {
    filter: brightness(0) invert(1);
}
.address img {
    margin-right: 10px;
}

@media (min-width: 700px) {
    .second-col {
        background: url(images/bg-curve-desktop.svg) no-repeat top/100% 100px;
    }
    .footer-flex {
        display: flex;
    }
}

@media (min-width: 1100px) {
    .logo img {
        width: 100px;
    }
    .first-col,
    .second-div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .all-files,
    .stay-productive .large-txt {
        text-align: left;
    }
    .files-img,
    .people-img {
        margin: 0;
        width: 46%;
    }
    .all-files,
    .stay-productive {
        max-width: 50%;
        margin: 0;
    }
    .all-files .small-txt {
        max-width: 570px;
    }
    .input-div {
        max-width: 570px;
        display: flex;
        padding-right: 20px;
    }
    .input-div input {
        padding-left: 1rem;
    }
    .input-div button {
        width: 250px;
        margin: 0 10px;
    }
    .all-files .large-txt {
        font-size: 45px;
    }
    .stay-productive .large-txt {
        font-size: 35px;
    }
    .stay-productive .small-txt {
        width: 500px;
    }

    .link {
        margin: 20px 0 30px;
    }
    .box-comment {
        margin: 0;
    }
    .get-access {
        display: flex;
        justify-content: space-between;
    }
    .get-text {
        text-align: left;
        margin: 0;
    }
    .get-text .medium-txt {
        font-size: 30px;
    }
    .second-form {
        padding: 1rem;
    }
    .get-input input {
        width: 500px;
    }
    .get-button {
        display: flex;
    }
    .padding-col {
        padding: 1.5rem 3rem;
    }
}